.navbar{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
    padding: 1.25rem 0rem;
}
.navbar-icon{
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: var(--gap-16, 1rem);
    border-radius: 0.375rem;
    flex:1
}

.navbar-icon span{
    color:#5F22D9;
    font-weight: bold;
}

.navbar-list{
    display: flex;
  
    align-items: center;
    gap: 2rem;
    /* display: flex;
padding: 0.9375rem;
justify-content: center;
align-items: center;
gap: 1rem; */


}
/* .navbar-list-container{
    display: flex;
    gap: 2rem;
    flex: 1;
} */
.connect-border-link{
    text-decoration: none;
    font-size: xx-large;
}
.navbar-list-links{
    text-decoration:  none;
    font-weight: bold;
    color: black;
}
.btn-price{
   border: 2px solid #5F22D9;
   border-radius: 2rem;
   padding: 5px;
   width: 5rem;
   background-color: white;
   color: #5F22D9;
   cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* border-radius: 10px; */
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;

}

/* Style for the dropdown content items on hover */
.dropdown-content a:hover {
    background-color: lightgray;
}
.btn-login{
    border: 2px solid black;
   border-radius: 2rem;
   padding: 5px;
   width: 5rem;
   background-color: black;
   color: white;
   cursor: pointer;
}